<!DOCTYPE html>
<html>
  <head>
    <title>Harpoonium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <div class="w-3/4 m-auto">
      <a href="/">
      <%= image_tag "logo-light.png", class: "logo" %>
      </a>
      <%= render(SearchBarComponent.new) %>
      <main class="">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
